<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Home</title>
  <div>

    Refresh Rate (Seconds): <input type="number" id="refresh_rate" />
    <button>Start</button>
    <br />
    <form onsubmit="">
        Add Email: <input required type="email" id="email_to_add" />
        <button type="submit">Add</button>

    </form>
    <script>
      function onAddEmailToSearch() {
         

      }
    </script>
    
    
  </div>

</head>


<body>
  <script src="js/scripts.js"></script>
</body>
</html>